<div class="background-image">

  <section class="fullscreen-video-wrap">
<img style="z-index: 1;height: 100%;" src="assets/images/banner2_sdl.png"/>


  </section>

</div>

<div class="home-content">
  <div class="container">

    <div class="jumbotron jumbotron-fluid">
      <div class="">
        <div>
          <div _ngcontent-dspace-angular-c225="" class="homePageSearch">
            <div _ngcontent-dspace-angular-c225=""  class="homePageSearchContainer">
              <h2 _ngcontent-dspace-angular-c225="" style="color: #fff !important;" class="homePageSearchHeader">{{ "home.news.dspace7" | translate }}</h2>
              <br>
              <div class="homePageSearchForm ">
                <ds-search-form  [showScopeSelector]="showScopeSelector" [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>

              </div>

            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
</div>